/*Navigation bar*/
/*nav{
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  padding:0px 20px;
  z-index: 1;
}

.brand-logo h4{
font-size: 45px;
 margin-top: 5px;
}

.menu {
  margin-top: 5px;
  margin-right: 30px;
}
.menu a{
  margin-left: 10px;
  font-size: 25px;
}
*/
/*Navbar new code*/


.navigation{
   background-color: #000000 !important;
    transition:1s ease;
}
.navigation.scrolled {
    /*background:transparent !important;*/
     opacity:0.5!important;
   

    }
.navbar-dark.scrolled{
    text-decoration-color: #000000 !important;
}    

.navbar-collapse{text-align:center;}



/* Image Slide*/

div.imageslide img{
  margin:0px;
  margin-bottom: 0px;
  width: auto;
  height: 80vh;
  
}
@media only screen and (max-width: 700px) {
   div.imageslide img{

    height: 50vh;

  }
}

/*Navigation bar line*/
.hp{
background-color: #D0D0D0;
height: 10px;
margin-top: 0px;

}

/* Heading content*/
.heading{
  margin-top: 5%;
}
.heading h1,h2{
  font-weight: bolder;
  opacity: 0.6;
  text-align: center;
  letter-spacing: 6px;
}


/* Buttons under heading (Different Options) */
.button {
background-color: rgb(128, 128, 128); 
  border: none;
  color: white;
 padding: 9px 25px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  border-radius: 22px;
  margin-top: 20px;
  opacity: 0.8;
  transition: 0.3s;
  margin-left: 35px;
 width: 200px;
}

.button1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button h6{
 font-weight: bold;
  font-size: 20px;
  word-spacing: 2px;
  letter-spacing: 1.6px;
  }

.button:hover {opacity: 5}







/*-----------------------------------------------------------------------------------------------------------*/
/* Gallery Page Code*/
/*-----------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  letter-spacing: 1.2px;
word-spacing: -1.2px;
background-color: rgb(242, 242, 242);
}
div.column img {
    transition:transform 0.5s ease;

}

div.column img:hover {
    -webkit-transform:scale(1.10); /* or some other value */
    transform:scale(1.10);


}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
margin-top: 80px;
margin-left: 200px;

 margin-right: 200px;

}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.column img:hover {opacity: 5}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



  /* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative;
  right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 7%;
  
}
